<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/public :: #public_head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:replace="admin/public :: #public_header">
    </header>
    <!-- 左列。包含徽标和边栏-->
    <aside class="main-sidebar" th:replace="admin/public :: #public_aside">
    </aside>
  <div class="content-wrapper">
    <!-- Main content -->
     <section class="content container-fluid">
			<!--你的内容-->
  		<div class="box">
            
            <div class="box-body">
              <table class="table table-condensed" style="border-collapse:collapse;border-spacing:0;" >
		                <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">企业名称</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="易高" style="width: 80%;"></td>
		                </tr>
		                <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">统一信用代码</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="123" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">地址</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="准格尔市" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">企业性质码</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">法人代表姓名</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="王五" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">电话号码</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="11111111" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">传真号码</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1111" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">电邮</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1111" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">生产许可</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1111" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">企业人数</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="4" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">企业简介</label><span style="color: red;">*</span></td> 
			                  <td><textarea style="width:80%;height: 60px;"></textarea></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">企业类别</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="准格尔安监局" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">安监部门</label><span style="color: red;">*</span></td> 
			                  <td>
			                  	<select class="form-control select2" style="width: 80%;">
							                  <option selected="selected">准格尔安监局</option>
							                  <option>呼和浩特安监局</option>
				               		</select>
			                  </td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">所属区域</label><span style="color: red;">*</span></td> 
			                  <td>
			                  	<select class="form-control select2" style="width: 80%;">
							                  <option selected="selected">大路工业园区</option>
							                  <option>回民区工业园区</option>
				               		</select>
			                  </td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">主要负责人数</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">中层人员数量</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">安全人员数量</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">技术人员</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">工作人员</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">现场操作人员</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control" value="1" style="width: 80%;"></td>
		                </tr>
		                
              </table>
              <div align="center">
              	<input type="button" value="提交" style="width: 120px;height: 30px;background:#0066CC;border-radius: 10px;color: white;" />
              </div>
            </div>
            <!-- /.box-body -->
         </div>
    </section>
    <!-- /.content -->
  </div>


  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script th:src="@{/jqjs/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/jqjs/bootstrap.min.js}" ></script>
<!-- DataTables -->
<script th:src="@{/jqjs/jquery.dataTables.min.js}" ></script>
<script th:src="@{/jqjs/dataTables.bootstrap.min.js}" ></script>
<!-- SlimScroll -->
<script th:src="@{/jqjs/jquery.slimscroll.min.js}" ></script>
<!-- FastClick -->
<script th:src="@{/jqjs/fastclick.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/jqjs/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/jqjs/demo.js}" ></script>
<!-- page script -->
<script>
	$(function () {
		$('#example1').DataTable()
		$('#example2').DataTable({
			'paging'      : true,
			'lengthChange': false,
			'searching'   : false,
			'ordering'    : true,
			'info'        : true,
			'autoWidth'   : false
		})
	})
</script>
</body>
</html>
