<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/public :: #public_head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header" th:replace="admin/public :: #public_header">
  </header>
  <!-- 左列。包含徽标和边栏-->
  <aside class="main-sidebar" th:replace="admin/public :: #public_aside">
  </aside>
  <div class="content-wrapper">
  	  <!-- Content Header (Page header) -->
    <section class="content-header">
    	<div class="search">
    		 
     	<a href="dep_view.html">添加</a>
     	<a href="#">返回</a>
    
    	</div>
     
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
	                <tr>
	                  <th>编号</th>
	                  <th>名称</th>
	                  <th>操作</th>
	                  <th>备份</th>
	                  <th>用户</th>
	                </tr>
                </thead>
                <tbody>
	                <tr>
	                  <td>1</td>
	                  <td>易高</td>
	              	  <td><a href="dep_view.html">查看</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>删除</a></td>
	              	  <td><a>备份</a></td>
	              	  <td><a href="userinfo.html">查看</a></td>
	                </tr> 
               	</tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>


  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script th:src="@{/jqjs/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/jqjs/bootstrap.min.js}" ></script>
<!-- DataTables -->
<script th:src="@{/jqjs/jquery.dataTables.min.js}" ></script>
<script th:src="@{/jqjs/dataTables.bootstrap.min.js}" ></script>
<!-- SlimScroll -->
<script th:src="@{/jqjs/jquery.slimscroll.min.js}" ></script>
<!-- FastClick -->
<script th:src="@{/jqjs/fastclick.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/jqjs/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/jqjs/demo.js}" ></script>
<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>
</body>
</html>
