<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="enterprise/public :: #public_head">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!--主标题 -->
    <header class="main-header" th:replace="enterprise/public :: #public_header">
    </header>
    <!-- 左列。包含徽标和边栏-->
    <aside class="main-sidebar" th:replace="enterprise/public :: #public_aside">
    </aside>

  <!-- 内容包装器。包含页面内容 -->
  <div class="content-wrapper">
  	<section class="content-header">
		<a th:href="@{/toBasic}"><button  type="button" class="btn btn-block btn-outline-secondary" style="width: 200px;height: 40px;margin-right: 10px; float: left;">基本信息</button></a>
		<a th:href="@{/toPerson}" ><button type="button" class="btn btn-block btn-outline-secondary" style="width: 200px;height: 40px;margin-right: 10px; float: left;background-color: #E2ECF5;" >人员信息</button></a>
		<a th:href="@{/toElse}" > <button type="button" class="btn btn-block btn-outline-secondary"style="width: 200px;height: 40px;" >其它信息</button></a>
  	</section>
    <!-- 主要内容 -->
    <section class="content container-fluid">
			<!--你的内容-->
  		<div class="box">
            <div class="box-header">
              <h3 class="box-title">人员信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-condensed" >
		                <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">主要负责人数</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control"  value="2" style="width: 80%;"></td>
		                </tr>
		                <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">中层人员数量</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control"  value="32" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">安全人员数量</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control"  value="10" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">技术人员</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control"  value="10" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">工作人员</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control"  value="10" style="width: 80%;"></td>
		                </tr>
		                 <tr>                
			                  <td style="text-align: right;"><label style="margin-top: 7px;">现场操作人员</label><span style="color: red;">*</span></td> 
			                  <td><input  class="form-control"  value="10" style="width: 80%;"></td>
		                </tr>
		               
              </table>
            </div>
            <!-- /.box-body -->
         </div>
    </section>
  </div>
    <!-- /.content -->
   
  <!-- /.content-wrapper -->
</div>
<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script th:src="@{/jqjs/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/jqjs/bootstrap.min.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/jqjs/adminlte.min.js}" ></script>

</body>
</html>