<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="enterprise/public :: #public_head">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!--主标题 -->
  <header class="main-header" th:replace="enterprise/public :: #public_header">
  </header>
  <!-- 左列。包含徽标和边栏-->
  <aside class="main-sidebar" th:replace="enterprise/public :: #public_aside">
  </aside>

  <!-- 内容包装器。包含页面内容 -->
  <div class="content-wrapper">
    <!-- 主要内容 -->
    <section class="content container-fluid">
			<!--你的内容-->
     <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">检查基本信息</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label>检查部门</label>
                  <input  class="form-control" value="准格尔安监局">
                </div>
                <div class="form-group">
                  <label>检查类型</label>
               			 <select class="form-control select2" style="width: 100%;">
			                  <option selected="selected">例行检查</option>
			                  <option>突击检查</option>
			                  <option>特殊日期检查</option>
               				</select>
                </div>
                <div class="form-group">
                  <label>检查人</label>
                  <input class="form-control" >
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">开始录入</button>
              </div>
            </form>
          </div>
    </section>
  </div>
    <!-- /.content -->
   
  <!-- /.content-wrapper -->

</div>
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 3 -->
<script th:src="@{/jqjs/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/jqjs/bootstrap.min.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/jqjs/adminlte.min.js}" ></script>
</body>
</html>