<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="gov/public :: #public_head">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!--主标题 -->
    <header class="main-header" th:replace="gov/public :: #public_header">
    </header>
    <!-- 左列。包含徽标和边栏-->
    <aside class="main-sidebar" th:replace="gov/public :: #public_aside">
    </aside>

  <!-- 内容包装器。包含页面内容 -->
  <div class="content-wrapper">
  	<section class="content-header">
      <button type="button" class="btn btn-block btn-outline-secondary" style="width: 200px;height: 40px;margin-top: 5px;margin-right: 10px; float: left;">录入信息</button>
       <a th:href="@{/reg}"><button  type="button" class="btn btn-block btn-outline-secondary"style="width: 200px;height: 40px;" >查看结果</button></a>
    </section>
    <!-- 主要内容 -->
			<!--你的内容-->
			  <div class="box">
            <div class="box-header">
              <h3 class="box-title">录入信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
				<form id="inputform" th:action="@{/input}" th:method="post">
				  <table class="table table-condensed">
					<tr>
						<div class="form-group" style="float: left;margin-right: 40px">
							<span style="float: left;margin-top: 5px;margin-right: 5px;font-size:20px;">检查方式</span>
							<select id="checkAction" name="method" class="form-control select2" style="width: 200px;">
								<option selected="selected">--请选择--</option>
								<option th:value="查资料">查资料</option>
								<option th:value="查现场">查现场</option>
								<option th:value="现场询问">现场询问</option>
								<option th:value="现场考核">现场考核</option>
							</select>
						</div>
						<div class="form-group" style="float: left;margin-right: 40px">
							<span style="float: left;margin-top: 5px;margin-right: 5px;font-size:20px;">隐患分类</span>
							<select id="hidden" name="kind" class="form-control select2" style="width: 200px;">
								<option selected="selected">--请选择--</option>
								<option th:value="符合项">符合项</option>
								<option th:value="一般隐患">一般隐患</option>
								<option th:value="重大隐患">重大隐患</option>
							</select>
						</div>
						<div class="form-group" style="float: left;margin-right: 40px">
							<span  style="float: left;margin-top: 5px;margin-right: 5px;font-size:20px;">单元</span>
							<select id="element" name="gsId" class="form-control select2" style="width: 200px;">
								<option selected="selected">--请选择--</option>
								<option th:each="gr : ${graSubsidiarys}" th:value="${gr.gId}" th:text="${gr.name}"></option>
							</select>
						</div>
						<div class="form-group" style="float: left;margin-right: 40px">
							<span  style="float: left;margin-top: 5px;margin-right: 5px;font-size:20px;">项目</span>
							<select id="project"  name="gsrId" onchange="changes()"  class="form-control select2" style="width: 200px;">
							<option selected="selected"  >--请选择--</option>
							<option  th:each="r : ${rules}" th:value="${r.id}" th:text="${r.number}"></option>
							</select>
			</div>
					</tr>
					<tr>
						<div class="form-group"style="float: left"   >
							<span style="float: left;margin-top: 40px;margin-right: 5px;font-size:20px;">现场情况</span>
							<textarea id="condition" name="condition" style="width:1400px ;height: 250px;" ></textarea>
						</div>

					  </tr>
					  <input type="hidden"	 id="sdId" th:value="${session.loginUser.TId}" name="sdId">
					  <input type="hidden"  id="type"  name="type">
					  <input type="hidden"  id="name"   name="name">
					  <input type="hidden" 	id="score" name="score" value="70">
					<tr>
						<div class="form-group"style="float: left"   >
						<button type="button" class="btn btn-block btn-default" onclick="zancun()"  style="width: 200px;height: 30px;float: left;margin-top: 5px;">暂存</button>
						<button type="submit" class="btn btn-block btn-default" onclick="$(#'inputform').submit();"  style="width: 200px;height: 30px;float: left; margin-left: 10px;">完成</button>
						<button type="button" class="btn btn-block btn-default"  style="width:200px;height: 30px;float: left;margin-left: 10px;">取消</button>
						</div>
					</tr>
				  </table>
				</form>
					<table>
					<tr>
						<td id="number" style="width:400px;height: 150px;border: 1px solid gainsboro;" >7.11</td>
						<td id="content" style="width: 400px;height: 150px;border: 1px solid gainsboro;">危险化学品单位应当建立完善重大危险源安全管理规章制度和安全操作规程，并采取有效措施保证其得到执行。</td>
						<td id="gist" style="width: 400px;height: 150px;border: 1px solid gainsboro;">《危险化学品重大危险源监督管理暂行规定》第12条</td>
					</tr>
				  </table>
            </div>
            <!-- /.box-body -->
         </div>
  </div>
    <!-- /.content -->
   
  <!-- /.content-wrapper -->
</div>

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script th:src="@{/jqjs/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/jqjs/bootstrap.min.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/jqjs/adminlte.min.js}" ></script>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
<!--<script th:src="@{/Tujs/tu.js}" ></script>-->
<script>

	$(function () {
		var storage = window.sessionStorage;
		storage["type"];
		storage["name"];

		$('#type').val(storage["type"]);
		$('#name').val(storage["name"]);

	})


	function changes(){
		var rules=document.getElementById('project');
		var index=rules.selectedIndex;
		var id=rules.options[index].value;
		//document.getElementById('number').innerHTML=id;

	}

    $(function () { var storage = window.sessionStorage;


        if(storage["checkAction"]!=null) {
            $("#checkAction option[value='" + storage["checkAction"] + "']").attr("selected", true);
            $("#hidden option[value='" + storage["hidden"] + "']").attr("selected", true);
            $("#element option[value='" + storage["element"] + "']").attr("selected", true);
            $("#project option[value='" + storage["project"] + "']").attr("selected", true);
            $('#condition').val(storage["condition"]);

        }
    })

    function zancun() {

        sessionStorage.setItem("checkAction",$('#checkAction').val())
        sessionStorage.setItem("hidden",$('#hidden').val())
        sessionStorage.setItem("element",$('#element').val())
        sessionStorage.setItem("project",$('#project').val())
        sessionStorage.setItem("condition",$('#condition').val())
        alert("暂存成功！")
    }




	$("#project").change(function(){
		var id=$(this).children('option:selected').val();


		$.ajax({
			type: "GET", // 提交方式
			// 返回数据类型，*注意如果返回值为String类型则需要去掉此条
			//dataType: "json",
			contentType: "application/json;charset=utf-8",
			url: "http://localhost:8080/GraSubsidiaryController/selectSingleGraSubRules", // 访问路径
			data: {
				"id":id
			},
			success(data) { // 成功调用的回调函数


				document.getElementById('number').innerHTML=data.number;
				document.getElementById('content').innerHTML=data.content;
				document.getElementById('gist').innerHTML=data.gist;
			},
			error() { // 调用失败
				alert("ajax出错，未能成功访问路径");
			}
		})
	})
	function fn() {
		var time = new Date();
		var div = document.getElementById("createTime");
	}

</script>
</body>
</html>