<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="gov/public :: #public_head">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!--主标题 -->
  <header class="main-header" th:replace="gov/public :: #public_header">
  </header>
  <!-- 左列。包含徽标和边栏-->
  <aside class="main-sidebar" th:replace="gov/public :: #public_aside">
  </aside>

  <!-- 内容包装器。包含页面内容 -->
  <div class="content-wrapper">
 		<section class="content-header">
      <button type="button" class="btn btn-block btn-outline-secondary" style="width: 200px;height: 40px;margin-top: 5px;margin-right: 10px; float: left;">录入信息</button>
       <button type="button" class="btn btn-block btn-outline-secondary"style="width: 200px;height: 40px;" >查看结果</button>
   </section>
    <!-- 主要内容 -->
       <div class="box">
            <div class="box-body">
             <table class="table table-bordered">
                <tr>
                  <th >检查时间</th>
                  <th>检查机构</th>
                  <th>检查形式</th>
                  <th >检查人员</th>
                </tr>
                <tr>
                  <td>2019年9月4日 星期三</td>
                  <td>准格尔安监局</td>
                  <td>例行检查</td>
                  <td>张三</td>
                </tr>
                
              </table>
            </div>
            <!-- /.box-body -->
       </div>
          <!-- /.box -->
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
             <table class="table table-bordered"  style="word-break: break-all;word-wrap:break-word;table-layout: fixed;">
                <tr>
                  <th>条款</th>
                  <th>检查内容</th>
                  <th>检查依据</th>
                  <th>检查方式</th>
                  <th>现场实际情况</th>
                  <th>隐患分类</th>
                </tr>
                <tr>
                  <td>7.1</td>
                  <td>重大危险源配备温度、压力、液位、流量、组份等信息的不间断采集和监测系统以及可燃气体和有毒有害气体泄漏检测报警装置，并具备信息远传、连续记录、事故预警、信息存储等功能；一级或者二级重大危险源，具备紧急停车功能。记录的电子数据的保存时间不少于30天。</td>
                  <td>《危险化学品重大风险源监督管理暂行规定》</td>
                  <td>查资料</td>
                  <td>一些描述</td>
                  <td>一般隐患</td>
                </tr>
                
              </table>
            </div>
            <!-- /.box-body -->
       </div>
          <!-- /.box -->
  </div>
    <!-- /.content -->
   
  <!-- /.content-wrapper -->
</div>

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}" ></script>
<!--图表-->
<script th:src="@{/Tujs/corechart.js}" ></script>
<script th:src="@{/Tujs/jquery-1.10.2.min.js}" ></script>
<script th:src="@{/Tujs/jquery.gvChart-1.0.1.min.js}" ></script>
<script th:src="@{/Tujs/jsapi.js}"></script>
<script th:src="@{/Tujs/tu.js}" ></script>
</body>
</html>