<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="enterprise/public :: #public_head">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!--主标题 -->
    <header class="main-header" th:replace="enterprise/public :: #public_header">
    </header>
    <!-- 左列。包含徽标和边栏-->
    <aside class="main-sidebar" th:replace="enterprise/public :: #public_aside">
    </aside>

	<!-- 内容包装器。包含页面内容 -->
	<div class="content-wrapper">
		<section class="content-header">
			<span>开始日期</span><input> </input>
			<span>结束日期</span><input> </input>
			<button style="width:120px;height:30px;background-color: #0079F7;color:white ;border-radius: 10px;">查询</button>
		</section>
		<!-- 主要内容 -->
		<section class="content container-fluid">
			<div id="main" style="width: 1300px;height:500px;"></div>
		</section>
	</div>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- REQUIRED JS SCRIPTS -->
<script type="text/javascript">
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('main'));

	option = {
		tooltip: {
			trigger: 'axis'
		},
		legend: {
			color: ["#F58080", "#47D8BE"],
			data: ['监督检查数据', '自评自报数据'],
			left: 'center',
			bottom: 'bottom'
		},
		grid: {
			top: 'middle',
			left: '3%',
			right: '4%',
			bottom: '3%',
			height: '80%',
			containLabel: true
		},
		xAxis: {
			type: 'category',

			data: ['2019年1月1日',2019-2-1,2019-3-2,2019-4-2,2019-5-2,2019-6-2],
			axisLine: {
				lineStyle: {
					color: "#999"
				}
			}
		},
		yAxis: {
			type: 'value',

			splitLine: {
				lineStyle: {
					type: 'dashed',
					color: '#DDD'
				}
			},
			axisLine: {
				show: false,
				lineStyle: {
					color: "#333"
				},
			},
			nameTextStyle: {
				color: "#999"
			},
			splitArea: {
				show: false,
			}
		},
		series: [{
			name: '监督检查数据',
			type: 'line',
			data: [800,900,220,130,660,289],
			color: "#F58080",
			lineStyle: {
				normal: {
					width: 5,
					color: {
						type: 'linear',

						colorStops: [{
							offset: 0,
							color: '#FFCAD4' // 0% 处的颜色
						}, {
							offset: 0.4,
							color: '#F58080' // 100% 处的颜色
						}, {
							offset: 1,
							color: '#F58080' // 100% 处的颜色
						}],
						globalCoord: false // 缺省为 false
					},
					shadowColor: 'rgba(245,128,128, 0.5)',
					shadowBlur: 10,
					shadowOffsetY: 7
				}
			},
			itemStyle: {
				normal: {
					color: '#F58080',
					borderWidth: 10,
					/*shadowColor: 'rgba(72,216,191, 0.3)',
                     shadowBlur: 100,*/
					borderColor: "#F58080"
				}
			},
			smooth: false
		},
			{
				name: '自评自报数据',
				type: 'line',
				data: [123,568,111,222,123,22],
				lineStyle: {
					normal: {
						width: 5,
						color: {
							type: 'linear',

							colorStops: [{
								offset: 0,
								color: '#84C1FF' // 0% 处的颜色
							},
								{
									offset: 0.4,
									color: '#66B3FF' // 100% 处的颜色
								}, {
									offset: 1,
									color: '#0080FF' // 100% 处的颜色
								}
							],
							globalCoord: false // 缺省为 false
						},
						shadowColor: 'rgba(71,216,190, 0.5)',
						shadowBlur: 10,
						shadowOffsetY: 7
					}
				},
				itemStyle: {
					normal: {
						color: '#84C1FF',
						borderWidth: 10,
						/*shadowColor: 'rgba(72,216,191, 0.3)',
                         shadowBlur: 100,*/
						borderColor: "#84C1FF"
					}
				},
				smooth: false
			},
		]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
<!-- jQuery 3 -->
<script th:src="@{/jqjs/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/jqjs/bootstrap.min.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/jqjs/adminlte.min.js}" ></script>
</body>
</html>