<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/public :: #public_head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:replace="admin/public :: #public_header">
    </header>
    <!-- 左列。包含徽标和边栏-->
    <aside class="main-sidebar" th:replace="admin/public :: #public_aside">
    </aside>
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">条目管理</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
	                <tr>
	                  <th>序号</th>
	                  <th>企业名称</th>
	                  <th>注册地址</th>
	                  <th>uscc</th>
	                  <th>单元明细</th>
	                  <th>单元分值</th>
	                </tr>
                </thead>
                <tbody>
	                <tr>
	                  <td>1</td>
	                  <td>易高</td>
	                  <td>易高</td>
	                  <td>123</td>
	                  <td><a href="admin/item/item_unit.html">查看</a></td>
	                  <td><a href="item_score.html">查看</a></td>
	                </tr> 
               	</tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script th:src="@{/jqjs/jquery.min.js}" ></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/jqjs/bootstrap.min.js}" ></script>
<!-- DataTables -->
<script th:src="@{/jqjs/jquery.dataTables.min.js}" ></script>
<script th:src="@{/jqjs/dataTables.bootstrap.min.js}" ></script>
<!-- SlimScroll -->
<script th:src="@{/jqjs/jquery.slimscroll.min.js}" ></script>
<!-- FastClick -->
<script th:src="@{/jqjs/fastclick.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/jqjs/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/jqjs/demo.js}" ></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
</body>
</html>
